@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  --container-width: 1270px;
  --container-padding: 15px;
  --secondary: rgba(15, 31, 28, 0.5);
  --orange: #FF7C4E;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #F6F6F6;
  color: #0F1F1C;
}

.none {
  display: none !important;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

.container-right {
  padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding) );
}

.container-left {
  padding-right: calc((100% - var(--container-width))/2 + var(--container-padding));
}

.block{
  height: 200px;
  background:darksalmon;
}

/* Header */
.header {
  min-height: 940px;
  background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
  position: relative;
  padding-top: 44px;
  color:#ffffff;
  overflow: hidden;
}

.header a {
  color: #fff;
}

.header::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 96px;
  background-image: url(../img/header/header-bottom.svg);
  background-size: 100%;
}

.header__top {
  margin-bottom: 86px;
}

.header__row {
  display: flex;
}

.header__img {
  position: relative;
  flex-grow: 1;
}

.header__img img {
  position: absolute;
  top: -181px;
  right: -113px;
  max-width: unset;
  width: 894px;
  height: 940px;
  pointer-events: none;
}

.header__img::after {
  content: "";
  position: absolute;
  top: -20px;
  right: -30px;
  width: 830px;
  height: 622px;
  background-image: url("./../img/header/header-elements.svg");
  pointer-events: none;
}

/* Navigation */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 80px;
}

.nav__list {
  display: flex;
  column-gap: 80px;
  font-weight: 500;
  font-size: 15px;
}

.nav__list a {
  position: relative;
}

.nav__list a.active::after,
.nav__list a:hover::after {
  content: '';
  position: absolute;
  display: block;
  height: 4px;
  background: #C4C4C4;
  border-radius: 50px;
  bottom: -6px;
  left: 0;
  right: 10px;
}

.nav__list.nav__list--footer a.active::after,
.nav__list.nav__list--footer a:hover::after {
  display: none;
}

.nav__list.nav__list--footer a.active,
.nav__list.nav__list--footer a:hover {
  color: var(--orange);
}

.nav__login {
  display: flex;
  column-gap: 25px;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
}

.nav__toggle {
  display: none;
}

/* Logo */
.logo {
  font-weight: 700;
  color: #FFFFFF;
  font-size: 20px;
}

.logo a {
  color: inherit;
}

.logo--footer {
  color: var(--orange);
}

/* Button */
.button {
  display: inline-block;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
  color: #ffffff !important;
  font-weight: 600;
  font-size: 20px;
  padding: 25px 45px;
  border-radius: 27px;
}

.button:hover {
  background: linear-gradient(129.54deg, #ff7041 15.57%, #ff4339 95.03%), #FFFFFF;
}

.button:active {
  position: relative;
  top: 1px;
}

.button--login {
  padding: 13px 44px;
  border-radius: 100px;
  font-size: 15px;
  font-weight: 500;
}

.button--header {
  font-size: 25px;
  padding: 27px 48px;
}

.button--cta {
  padding: 25px 55px;
}

.button--subscribe {
  font-size: 25px;
  padding: 34px 87px;
  border-radius: 35px;
}


/* Header Content */
.header__content {
  max-width: 592px;
  position: relative;
  z-index: 2;
}

.header__badge {
  font-weight: 500;
  font-size: 18px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  padding: 12px 30px;
  margin-bottom: 7px;
  display: inline-block;
}

.header__title {
  font-size: 55px;
  margin-bottom: 30px;
}

.header__text {
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 68px;
  max-width: 520px;
}

/* Destinations */
.destinations {
  padding: 96px 0 100px;
  overflow-x: hidden;
}

.destinations__row {
  display: flex;
  column-gap: 50px;
  align-items: center;
}

.destinations__content {
  max-width: 456px;
}

.destinations__slider {
  width: 1110px;
  flex-shrink: 0;
}

.destinations__title {
  margin-bottom: 15px;
  font-size: 55px;
  font-weight: 600;
}

.destinations__title span {
  font-size: 30px;
}

.destinations__text {
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 25px;
  color: var(--secondary);
}

/* Slider */

.owl-item {
  display: flex;
  justify-content: center;
}

.slider {
  position: relative;
  height: 456px;
}

.slider__item {
  margin-top: 27px;
  border-radius: 35px;
  width: 335px;
  height: 402px;
  object-fit: cover;
  transition: 0.2s ease-in;
}

.slider .center .slider__item {
  margin-top: 0;
  width: 380px;
  height: 456px;
}

.slider__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 68px;
  height: 68px;
  background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.slider__btn--prev {
  left: -27px;
}

.slider__btn--next {
  right: -27px;
}

/* Customers */
.customers {
  padding: 100px 0 133px;
}

.customers__row {
  display: flex;
  column-gap: 68px;
  align-items: center;
}

.customers__img {
  max-width: 478px;
}

.customers__img img {
  border-radius: 60px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.customers__content {
  max-width: 565px;
}

.customers__title {
  margin-bottom: 35px;
  font-size: 45px;
  font-weight: 500;
}

/* Review */

.review {
  max-width: 490px;
}

.review__client {
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  column-gap: 33px;
}

.review__client-avatar {
  overflow: hidden;
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background-color: #FF794E;
}

.review__client-desc-name {
  margin-bottom: 10px;
  font-size: 33px;
  font-weight: 500;
}

.review__client-desc-country {
  font-weight: 400;
  font-size: 25px;
  color: var(--secondary);
}

.review__text {
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 500;
  color: var(--secondary);
}

/* CTA */
.cta {
  padding: 100px 0 100px;
}

.cta__plate {
  position: relative;
  padding: 40px 15px;
  min-height: 580px;
  background-color: #FFFFFF;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cta__plate::before,
.cta__plate::after {
  content: "";
  position: absolute;
  width: 63px;
  height: 83px;
}

.cta__plate::before {
  left: 74px;
  bottom: 56px;
  background-image: url("./../img/cta/cta-el-02.svg");
}

.cta__plate::after {
  top: 74px;
  right: 80px;
  background-image: url("./../img/cta/cta-el-01.svg");
}

.cta__title {
  font-weight: 500;
  font-size: 45px;
  margin-bottom: 30px;
}

.cta__text {
  font-weight: 400;
  font-size: 30px;
  color: var(--secondary);
  margin-bottom: 60px;
}

/* Subscribe */
.subscribe {
  padding: 35px 0 50px;
}

.subscribe__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.subscribe__title {
  max-width: 494px;
  font-weight: 600;
  font-size: 55px;
  margin-bottom: 60px;
}

/* Subscribe Form */

.subscribe-form {
  background-color: #FFFFFF;
  border-radius: 35px;
  padding: 12px 15px 12px 46px;
  display: flex;
  column-gap: 190px;
}

.subscribe-form__input {
  font-weight: 500;
  font-size: 24px;
}

.subscribe-form__input::placeholder {
  color: var(--secondary);
}

/* Footer */

.footer {
  padding: 56px 0 74px;
}

.footer .nav__list a, 
.footer .nav__login a {
  color: var(--secondary);
}

/* Menu Icon */
.menu-icon-wrapper {
  width: 37px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  position: relative;
  width: 37px;
  height: 5px;
  background-color: #FFFFFF;
  border-radius: 2px;
}

.menu-icon::before {
  position: absolute;
  left: 0;
  top: -10px;
  content: '';
  width: 37px;
  height: 5px;
  background-color: #FFFFFF;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  border-radius: 2px;
}

.menu-icon::after {
  position: absolute;
  left: 0;
  top: 10px;
  content: '';
  width: 37px;
  height: 5px;
  background-color: #FFFFFF;
  transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
  border-radius: 2px;
}

.menu-icon.menu-icon-active {
  background-color: transparent;
}

.menu-icon.menu-icon-active::before {
  transform: rotate(45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
  transform: rotate(-45deg);
  top: 0;
  transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

/* Media */
@media (max-width: 1269px) {
  .container-right {
    padding-left: 15px;
  }
  
  .container-left {
    padding-right: 15px;
  }
}

@media (max-width: 1200px) {
  .destinations__slider {
    width: 900px;
  }
}

@media (max-width: 1000px) {
  .nav__list--header,
  .nav__login--header {
    display: none;
  }

  .nav {
    column-gap: 40px;
  }

  .nav__list--footer {
    column-gap: 45px;
  }
    
  .nav__toggle {
    display: block;
  }

  .no-scroll {
    overflow-y: hidden;
  }

  .nav--mobile {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    background: linear-gradient(50deg, #428E5F -17.38%, #112120 78.4%), #204434;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .nav--mobile .logo {
    font-size: 30px;
  }

  .nav--mobile .nav__list,
  .nav--mobile .nav__login {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
    font-size: 24px;
  }

  .nav--mobile .nav__list a.active::after,
  .nav--mobile .nav__list a:hover::after {
    display: none;
  }

  .nav--mobile .nav__login {
    font-size: 20px;
  }

  .nav--mobile .nav__toggle {
    position: fixed;
    top: 55px;
    right: 50px;
  }

  .header__img img {
    right: -256px;
  }

  .header__img::after {
    right: -300px;
  }

  .destinations__slider {
    width: 700px;
  }

  .slider {
    height: 304px;
  }

  .slider .slider__item {
    margin-top: 18px;
    width: 223px;
    height: 268px;
  }

  .slider .center .slider__item {
    margin-top: 0;
    width: 253px;
    height: 304px;
  }
}

@media (max-width: 850px) {
  .container-right,
  .container-left {
    padding: 0 var(--container-padding);
    margin: 0 auto;
  }

  .header {
    padding-top: 20px;
    min-height: unset;
  }

  .header__top {
    margin-bottom: 55px;
  }

  .header__row {
    flex-direction: column;
  }

  .header__img img {
    position: static;
    width: 85%;
    height: auto;
  }

  .header__img::after {
    display: none;
  }

  .header__badge {
    margin-bottom: 5px;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 10px;
  }

  .header__title {
    margin-bottom: 20px;
    font-size: 35px;
  }

  .header__text {
    margin-bottom: 40px;
    font-size: 20px;
    max-width: 400px;
  }

  .button--header {
    font-size: 20px;
    padding: 24px 40px;
    border-radius: 20px;
  }

  .destinations {
    padding: 40px 0 50px;
  }

  .destinations__row {
    flex-direction: column;
    align-items: baseline;
    row-gap: 30px;
  }

  .destinations__slider {
    width: 100%;
  }

  .slider__btn--prev {
    left: -10px;
  }
  
  .slider__btn--next {
    right: -10px;
  }

  .destinations__title {
    margin-bottom: 10px;
    font-size: 35px;
  }

  .destinations__title span {
    font-size: 20px;
    display: block;
  }

  .destinations__text {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .button {
    font-size: 18px;
    padding: 22px 37px;
    border-radius: 20px;
  }

  .customers {
    padding: 50px 0 60px;
  }

  .customers__row {
    column-gap: 30px;
  }

  .customers__title {
    margin-bottom: 25px;
    font-size: 35px;
  }

  .review__client {
    margin-bottom: 20px;
    column-gap: 28px;
  }

  .review__client-avatar {
    width: 80px;
    height: 80px;
  }

  .review__client-desc-name {
    margin-bottom: 5px;
    font-size: 23px;
  }

  .review__client-desc-country {
      font-size: 18px;
  }

  .review__text {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .review__rating {
    max-width: 200px;
  }

  .customers__img img {
    max-width: 250px;
    border-radius: 30px;
  }

  .cta {
    padding: 50px 0;
  }

  .cta__title {
    font-size: 35px;
    margin-bottom: 20px;
  }

  .cta__text {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .cta__plate {
    padding: 20px 15px;
    min-height: 380px;
    border-radius: 30px;
  }

  .cta__plate::before {
    left: 28px;
    bottom: 28px;
  }

  .cta__plate::after {
    top: 28px;
    right: 31px;
  }

  .subscribe {
    padding: 25px 0 30px;
  }

  .subscribe__title {
    max-width: unset;
    font-size: 40px;
    margin-bottom: 30px;
  }

  .subscribe-form {
    column-gap: 20px;
    border-radius: 25px;
    padding: 10px 10px 10px 20px;
  }

  .subscribe-form__input {
    font-size: 18px;
  }

  .nav--footer {
    justify-content: space-around;
  }

  .nav__login--footer {
    display: none;
  }
}

@media (max-width: 640px) {
  .customers__row {
      row-gap: 30px;
      flex-direction: column-reverse;
  }
}

@media (max-width: 580px) {
  .button {
    font-size: 16px;
    padding: 20px 33px;
    border-radius: 16px;
  }

  .header__title {
    margin-bottom: 15px;
    font-size: 30px;
  }

  .header__text {
    margin-bottom: 30px;
    font-size: 18px;
  }

  .destinations__title {
    font-size: 30px;
  }

  .destinations__text {
    margin-bottom: 25px;
    font-size: 18px;
  }

  .customers__title {
    margin-bottom: 20px;
    font-size: 30px;
  }

  .cta {
    padding: 40px 0;
  }

  .cta__title {
    font-size: 30px;
    margin-bottom: 15px;
  }

  .cta__text {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .cta__plate {
    padding: 15px 10px;
    min-height: 350px;
    border-radius: 25px;
  }

  .cta__plate::before,
  .cta__plate::after{
    display: none;
  }

  .subscribe__title {
    font-size: 30px;
  }

  .nav--footer {
    flex-direction: column-reverse;
    row-gap: 30px;
  }
}

@media (max-width: 500px) {
  .slider__btn {
    width: 58px;
    height: 58px;
  }

  .slider__btn--prev {
    left: 15px;
  }

  .slider__btn--next {
    right: 15px;
  }

  .subscribe-form {
    flex-direction: column;
    padding: 30px 20px;
    row-gap: 20px;
    border-radius: 20px;
  }

  .subscribe-form__input {
    text-align: center;
    padding: 20px 0;
    background-color: #f0f0f0;
    border-radius: 15px;
  }
}

@media (max-width: 460px) {
  .button {
    font-size: 16px;
    padding: 16px 29px;
    border-radius: 12px;
  }

  .header__row {
      margin-bottom: 140px;
  }

  .header__title,
  .destinations__title,
  .customers__title,
  .cta__title,
  .subscribe__title {
    font-size: 26px;
  }
  
  .cta {
    text-align: center;
  }

  .header__img {
    display: none;
  }

  .nav--mobile .nav__toggle {
    top: 20px;
    right: 20px;
  }

  .nav--mobile .nav__list,
  .nav--mobile .nav__login {
    row-gap: 20px;
  }

  .customers__img img {
    max-width: 100%;
  }

  .nav__list--footer {
    font-size: 18px;
    flex-direction: column;
    row-gap: 15px;
    align-items: center;
  }
}

@media (max-width: 380px) {
  .slider__btn--prev {
    left: -5px;
  }

  .slider__btn--next {
    right: -5px;
  }
}